<marquee behavior="scroll" direction="left">
    <img src="~/Assets/Client/img/banner/partner1.png" style="width:fit-content;margin-right: 30px;">
    <img src="~/Assets/Client/img/banner/partner2.png" style="width:fit-content;margin-right: 30px;">
    <img src="~/Assets/Client/img/banner/partner3.png" style="width:fit-content;margin-right: 30px;">
    <img src="~/Assets/Client/img/banner/partner4.png" style="width:fit-content;margin-right: 30px;">
    <img src="~/Assets/Client/img/banner/partner5.png" style="width:fit-content;margin-right: 30px;">
    <img src="~/Assets/Client/img/banner/partner6.png" style="width:fit-content;margin-right: 30px;">
</marquee>

<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xl-2 col-md-2">
                <div class="shop-logo">
                    <img src="~/Assets/Client/img/logo/logo.png">
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xl-4 col-md-4">
                <p style="color: #5e5e5e; font-size: 12pt;">
                    <i class="fa fa-home"></i> Đường Phước Hậu, Phước Hậu, Vĩnh Long <br>
                    <i class="fa fa-phone"></i> 090 729 23 68 | 090 729 23 68 <br>
                    <i class="fa fa-envelope"></i> thanhbaobadmintion@gmail.com <br>
                    <i class="fa fa-facebook-square"></i> facebook.com/caulongthanhbao
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 col-xl-6 col-md-6">
                <div class="address" style="border: 4px solid #dddddd;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15705.593902750807!2d105.9675204!3d10.2294107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82ae312855e6cb5d!2sHang+Duong+Vinh+Long+Badminton+Club!5e0!3m2!1sen!2s!4v1557638500263!5m2!1sen!2s" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

